{
  "env": {
    "node": true,
    "es2022": true,
    "vue/setup-compiler-macros": true
  },
  "extends": ["plugin:vue/vue3-recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "warn",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always"
        }
      }
    ],
    "prefer-const": "warn",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "no-redeclare": "off",
    "@typescript-eslint/prefer-function-type": "off",

    // START disabled because of prettier
    "vue/multi-word-component-names": "off",
    "vue/html-indent": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/custom-event-name-casing": "off",
    "comma-dangle": "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/html-end-tags": "off",
    "vue/html-quotes": "off",
    "vue/multiline-html-element-content-newline": "off",
    "vue/mustache-interpolation-spacing": "off",
    "vue/no-multi-spaces": "off",
    "vue/no-spaces-around-equal-signs-in-attribute": "off",
    "vue/singleline-html-element-content-newline": "off"
    // END disabled because of prettier
  }
}
