{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/stylistic",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "unused-imports",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-underscore-dangle": [
      "warn",
      {
        "allowAfterThis": true
      }
    ],
    "import/extensions": "off",
    "import/no-duplicates": [
      "error",
      {
        "prefer-inline": true
      }
    ],
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "off",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "warn",
      {
        "fixStyle": "inline-type-imports"
      }
    ],
    "import/consistent-type-specifier-style": [
      "warn",
      "prefer-inline"
    ],
    "simple-import-sort/imports": "warn"
  }
}