.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.segmentedControl:only-child {
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: max-content 1fr;

  &.center {
    justify-content: center;
    grid-template-columns: max-content max-content;
  }

  > :is(label, .label) {
    grid-template-columns: subgrid;
    display: grid;
    grid-column: span 2;
    align-items: center;
  }

  > .buttons {
    grid-column: span 2;
    justify-content: space-between;
  }
}

.row,
.grid {
  > :is(label, .label) > span {
    min-height: 1.2em;
    font-size: 0.9em;
    font-weight: 600;
    padding-inline: 0.5rem;
    display: block;
  }
}

.row {
  min-width: 0;
  display: flex;
  padding-top: 1.2em;
  row-gap: 1.2em;
  justify-content: space-evenly;

  > label {
    display: flex;
    min-width: 0;
    margin-top: -1.2em;
    flex-direction: column;
    align-items: start;

    &.expand {
      flex: 1;
    }
  }
}

.hidden {
  visibility: hidden;
}
