.filterGrid {
  display: grid;
  grid-template-columns: [tab] max-content [content] 1fr;
}

.uiVerticalTab {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
}

.tab {
  grid-column: tab;
  border-right: 1px solid var(--color-weak);
  color: var(--color-weak);
  display: flex;
  flex-direction: column;

  .button {
    all: unset;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-block: 0.125rem;

    &:focus-visible {
      color: AccentColor;
    }
  }
}

.uiVerticalTab.selected .tab {
  color: var(--color-full);
}

.uiVerticalTab.selected:not(:first-child) .content {
  border-top: 1px solid var(--color-weak);
}

.uiVerticalTab.selected:not(:last-child) .content {
  border-bottom: 1px solid var(--color-weak);
}

.content {
  grid-column: content;
  padding-left: 0.25rem;
}

.summary {
  font-size: 0.9em;
  font-style: italic;
}
